html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh; /* Ensure the body takes up the full viewport height */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1; /* Allow the main content to grow and push the footer down */
    padding: 20px;
}

/* Homepage-specific styles */
.homepage #about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.homepage .about-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
}

.homepage .headshot {
    border-radius: 50%;
    margin-bottom: 20px;
    width: 150px;
    height: auto;
}

/* CV page-specific styles */
.cv-page iframe {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 40px auto;
    width: 60%;
    height: 600px;
    display: block;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 60%;
    margin: 20px auto;
}

.project-item {
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: flex-end; /* Ensure the overlay stays at the bottom */
    min-height: 200px; /* Set a minimum height */
}

.project-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    word-wrap: break-word; /* Ensure long words break and do not overflow */
}

.project-item:hover .project-overlay {
    background: rgba(0, 0, 0, 0.7);
}

.flash-message {
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    margin-top: 40px;
}

/* Responsive Layout */
@media (max-width: 768px) {
    .projects-grid {
        grid-template-columns: 1fr;
        width: 90%;
    }
}
